<!DOCTYPE HTML>
<html>
<head>  
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap-grid.css">
  <link rel="stylesheet" href="css/jquery-ui.theme.min.css">
  <link rel="stylesheet" href="css/jquery-ui.structure.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">

  <!--<script src="js/jquery.js"></script>
  <script src="js/jquery-ui.min.js"></script>-->

  <script>
  // $(function() {                // TODO: needs labels
  //   $( "#slider" ).slider({
  //     value:100,
  //     min: 0,
  //     max: 500,
  //     step: 50,
  //     slide: function( event, ui ) {
  //       $( "#amount" ).val( "$" + ui.value );
  //       console.log(ui.value);
  //     }
  //   });
  //   $( "#amount" ).val( "$" + $( "#slider" ).slider( "value" ) );
  // });
  </script>

</head>

<body>
  <div class="container">
    <div id="header" class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <h1>Sal's Pizza!</h1>
            <div class="row">
              <div id="menu" class="col-md-12">
                <button>Menu</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="movingPizzas" class="col-md-6">
        Moving pizzas go here
      </div>
    </div>
    <div id="callToAction" class="row">
      <div class="col-md-4">
        <img src="images/pizzeria.jpg" class="img-responsive">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h2>We have 1000s of Pizzas!!!</h2>            
            <p>Bacon ipsum dolor sit amet ball tip filet mignon frankfurter beef ribs tri-tip pork chop tail venison andouille pig spare ribs shankle. Kielbasa bacon sausage turducken pork loin. Sirloin hamburger prosciutto tongue turducken, chicken meatloaf ground round. Salami short loin pancetta tenderloin kevin rump.</p>

            <p>Tongue kielbasa hamburger, boudin salami turkey meatball fatback venison pork. Tongue drumstick spare ribs t-bone beef ribs. Beef biltong salami, landjaeger drumstick pancetta tongue meatloaf prosciutto pork loin tri-tip capicola. Flank kevin corned beef pancetta kielbasa tongue pastrami. Pancetta frankfurter doner pork belly tenderloin filet mignon ground round.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-push-3">
            <button>Click me!</button>
          </div>
        </div>
      </div>
    </div>
    <div id="ingredients" class="row">
      <div class="col-md-8 col-md-push-2">
        <div class="row">
          <div style="text-align: center" class="col-md-12">
            <h2>Ingredients!</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Bacon ipsum dolor sit amet ball tip filet mignon frankfurter beef ribs tri-tip pork chop tail venison andouille pig spare ribs shankle. Kielbasa bacon sausage turducken pork loin. Sirloin hamburger prosciutto tongue turducken, chicken meatloaf ground round. Salami short loin pancetta tenderloin kevin rump.</p>

            <p>Tongue kielbasa hamburger, boudin salami turkey meatball fatback venison pork. Tongue drumstick spare ribs t-bone beef ribs. Beef biltong salami, landjaeger drumstick pancetta tongue meatloaf prosciutto pork loin tri-tip capicola. Flank kevin corned beef pancetta kielbasa tongue pastrami. Pancetta frankfurter doner pork belly tenderloin filet mignon ground round.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="locations" class="row">
      <div class="col-md-12">
        <h2>Locations!</h2>
        <div class="row">
          <div class="col-md-6">
            <h3>Location 1</h3>
            <p>Tongue kielbasa hamburger, boudin salami turkey meatball fatback venison pork. Tongue drumstick spare ribs t-bone beef ribs. Beef biltong salami, landjaeger drumstick pancetta tongue meatloaf prosciutto pork loin tri-tip capicola. Flank kevin corned beef pancetta kielbasa tongue pastrami. Pancetta frankfurter doner pork belly tenderloin filet mignon ground round.</p>
          </div>
          <div class="col-md-6">
            <h3>Location 2</h3>
            <p>Tongue kielbasa hamburger, boudin salami turkey meatball fatback venison pork. Tongue drumstick spare ribs t-bone beef ribs. Beef biltong salami, landjaeger drumstick pancetta tongue meatloaf prosciutto pork loin tri-tip capicola. Flank kevin corned beef pancetta kielbasa tongue pastrami. Pancetta frankfurter doner pork belly tenderloin filet mignon ground round.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="pizzaGenerator" class="row">
      <div class="col-md-12">
        <h3>Pizza Generator!</h3>
        <div class="row">
          <div class="col-md-12">
            <div id="slider"></div>
          </div>
        </div>
        <div id="randomPizzas" class="row">
          <div id="pizza0" class="col-md-3">
            <div class="col-md-6">
              <img src="images/pizza.png" class="img-responsive">
            </div>
            <div class="col-md-6">
              <h4>The Udacity Special</h4>
              <ul>
                <li>Turkey</li>
                <li>Tofu</li>
                <li>Cauliflower</li>
                <li>Sun Dried Tomatoes</li>
                <li>Velveeta Cheese</li>
                <li>Red Sauce</li>
                <li>Whole Wheat Crust</li>
              </ul>
            </div>
          </div>
          <div id="pizza1" class="col-md-3">
            <div class="col-md-6">
              <img src="images/pizza.png" class="img-responsive">
            </div>
            <div class="col-md-6">
              <h4>The Cameron Special</h4>
              <ul>
                <li>Chicken</li>
                <li>Hot Sauce</li>
                <li>White Crust</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="js/main.js"></script>
</body>

</html>